USE [master]
GO
/****** Object:  Database [flower_store]    Script Date: 5/2/2026 8:12:50 PM ******/
CREATE DATABASE [flower_store]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'flower_store', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\flower_store.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'flower_store_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\flower_store_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [flower_store].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [flower_store]
GO
/****** Object:  Table [dbo].[AI_Recommendation]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AI_Recommendation](
	[RecommendationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FlowerID] [int] NULL,
	[Reason] [nvarchar](255) NULL,
	[Score] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecommendationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bouquet]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bouquet](
	[BouquetID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
	[Price] [decimal](10, 2) NULL,
	[ImageURL] [varchar](255) NULL,
	[OccasionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BouquetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BouquetFlowers]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BouquetFlowers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BouquetID] [int] NULL,
	[FlowerID] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[FlowerID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NOT NULL,
	[FlowerID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultations](
	[ConsultationID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[OccasionType] [nvarchar](50) NULL,
	[PreferredDate] [date] NULL,
	[Message] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[DiscountPercent] [int] NOT NULL,
	[ValidFrom] [datetime] NOT NULL,
	[ValidTo] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UsageLimit] [int] NULL,
	[UsedCount] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
	[StoreID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flower]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flower](
	[FlowerID] [int] IDENTITY(1,1) NOT NULL,
	[FlowerName] [nvarchar](100) NOT NULL,
	[Color] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Description] [nvarchar](max) NULL,
	[Stock] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Occasion] [nvarchar](50) NULL,
	[ImageURL] [nvarchar](255) NULL,
	[OccasionID] [int] NULL,
	[Category] [nvarchar](50) NULL,
	[IsBouquet] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FlowerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoyaltyTransactions]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoyaltyTransactions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[OrderID] [int] NULL,
	[Points] [int] NULL,
	[Type] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Subject] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](2000) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Message] [nvarchar](500) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Occasion]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Occasion](
	[OccasionID] [int] IDENTITY(1,1) NOT NULL,
	[OccasionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Slug] [nvarchar](100) NULL,
	[ImageURL] [nvarchar](500) NULL,
	[BadgeText] [nvarchar](100) NULL,
	[IsFeatured] [bit] NULL,
	[NameAr] [nvarchar](100) NULL,
	[DescriptionAr] [nvarchar](500) NULL,
	[Badge] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OccasionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Occasion_Reminders]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Occasion_Reminders](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OccasionName] [nvarchar](100) NOT NULL,
	[OccasionDate] [date] NOT NULL,
	[DaysBefore] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[IsNotified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[OrderDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[FlowerID] [int] NOT NULL,
	[Price] [decimal](10, 2) NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[FlowerID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[UserID] [int] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[LoyaltyPointsEarned] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[ShippingAddress] [nvarchar](255) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[ShippingMethod] [nvarchar](100) NULL,
	[CouponID] [int] NULL,
	[DiscountApplied] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](50) NULL,
	[PaymentDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FlowerID] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[ReviewDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[StoreID] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[StoreID] [int] NULL,
	[FlowerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserReminders]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserReminders](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[OccasionType] [nvarchar](100) NOT NULL,
	[ReminderDate] [date] NOT NULL,
	[NotifyBeforeDays] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/2/2026 8:12:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[LoyaltyPoints] [int] NOT NULL,
	[avatar] [nvarchar](255) NULL,
	[Points] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AI_Recommendation] ON 

INSERT [dbo].[AI_Recommendation] ([RecommendationID], [UserID], [FlowerID], [Reason], [Score]) VALUES (1, 1, 3, N'Same flower type preference', CAST(0.85 AS Decimal(5, 2)))
INSERT [dbo].[AI_Recommendation] ([RecommendationID], [UserID], [FlowerID], [Reason], [Score]) VALUES (2, 2, 5, N'Similar color choice', CAST(0.82 AS Decimal(5, 2)))
INSERT [dbo].[AI_Recommendation] ([RecommendationID], [UserID], [FlowerID], [Reason], [Score]) VALUES (3, 3, 8, N'Popular flower', CAST(0.90 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[AI_Recommendation] OFF
GO
SET IDENTITY_INSERT [dbo].[Bouquet] ON 

INSERT [dbo].[Bouquet] ([BouquetID], [Name], [Description], [Price], [ImageURL], [OccasionID]) VALUES (1, N'Birthday Surprise Bouquet', N'Colorful bouquet for birthdays ??', CAST(30.00 AS Decimal(10, 2)), N'images/imageoccasion/h.jpeg', 1)
SET IDENTITY_INSERT [dbo].[Bouquet] OFF
GO
SET IDENTITY_INSERT [dbo].[BouquetFlowers] ON 

INSERT [dbo].[BouquetFlowers] ([ID], [BouquetID], [FlowerID], [Quantity]) VALUES (1, 1, 1, 2)
INSERT [dbo].[BouquetFlowers] ([ID], [BouquetID], [FlowerID], [Quantity]) VALUES (2, 1, 2, 3)
SET IDENTITY_INSERT [dbo].[BouquetFlowers] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [UserID], [CreatedAt], [IsActive], [PaymentMethod], [FlowerID], [Quantity], [AddedAt]) VALUES (7, 58, CAST(N'2026-04-29T02:17:49.593' AS DateTime), 1, NULL, 1, 3, CAST(N'2026-04-29T02:17:49.593' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([CartItemID], [CartID], [FlowerID], [Quantity]) VALUES (1010, 7, 1, 2)
INSERT [dbo].[CartItems] ([CartItemID], [CartID], [FlowerID], [Quantity]) VALUES (1011, 7, 1053, 1)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultations] ON 

INSERT [dbo].[Consultations] ([ConsultationID], [FullName], [Email], [Phone], [OccasionType], [PreferredDate], [Message], [Status], [CreatedAt]) VALUES (1, N'روان وليد', N'rawan@email.com', N'0798332755', N'birthday', CAST(N'2026-05-01' AS Date), N'Happy Birthday', N'Pending', CAST(N'2026-04-29T04:51:16.787' AS DateTime))
INSERT [dbo].[Consultations] ([ConsultationID], [FullName], [Email], [Phone], [OccasionType], [PreferredDate], [Message], [Status], [CreatedAt]) VALUES (2, N'Ruba Al-khatib', N'ruba.alkhatib16@gmail.com', N'0798706042', N'corporate', CAST(N'2026-05-03' AS Date), N'asdf', N'Pending', CAST(N'2026-05-02T17:35:09.557' AS DateTime))
SET IDENTITY_INSERT [dbo].[Consultations] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([CouponID], [Code], [DiscountPercent], [ValidFrom], [ValidTo], [IsActive], [UsageLimit], [UsedCount], [CreatedAt]) VALUES (1, N'New', 25, CAST(N'2026-05-02T18:00:00.000' AS DateTime), CAST(N'2026-05-04T18:00:00.000' AS DateTime), 1, NULL, 0, CAST(N'2026-05-02T17:41:24.247' AS DateTime))
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [EmployeeName], [Address], [Email], [StoreID]) VALUES (1, N'Ali Mansour', N'Amman', N'ali@rosegarden.com', 1)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeName], [Address], [Email], [StoreID]) VALUES (2, N'Rawan Mohamed ', N'Amman', N'rawan@rosegarden.com', 1)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeName], [Address], [Email], [StoreID]) VALUES (3, N'Nour Jamal', N'Irbid', N'nour@bloom.com', 2)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Flower] ON 

INSERT [dbo].[Flower] ([FlowerID], [FlowerName], [Color], [Type], [Price], [Description], [Stock], [IsActive], [Occasion], [ImageURL], [OccasionID], [Category], [IsBouquet]) VALUES (1, N'Rose', N'Red', N'Rose', CAST(1.50 AS Decimal(10, 2)), N'Fresh red rose', 60, 1, N'Wedding', N'/images/flowers/21.jpeg', NULL, N'Orchids', 0)
INSERT [dbo].[Flower] ([FlowerID], [FlowerName], [Color], [Type], [Price], [Description], [Stock], [IsActive], [Occasion], [ImageURL], [OccasionID], [Category], [IsBouquet]) VALUES (2, N'White Rose', N'White', N'Rose', CAST(1.50 AS Decimal(10, 2)), N'Classic white rose', 30, 1, N'New Baby, Graduation', N'/images/flowers/2.jpeg', NULL, N'Orchids', 0)
INSERT [dbo].[Flower] ([FlowerID], [FlowerName], [Color], [Type], [Price], [Description], [Stock], [IsActive], [Occasion], [ImageURL], [OccasionID], [Category], [IsBouquet]) VALUES (3, N'Pink Rose', N'Pink', N'Rose', CAST(1.50 AS Decimal(10, 2)), N'Soft pink rose', 30, 1, N'Mother Day, Love', N'/images/flowers/3.jpeg', NULL, N'Orchids', 0)
GO
SET IDENTITY_INSERT [dbo].[Flower] OFF
GO
SET IDENTITY_INSERT [dbo].[LoyaltyTransactions] ON 

INSERT [dbo].[LoyaltyTransactions] ([ID], [UserID], [OrderID], [Points], [Type], [CreatedAt]) VALUES (1, 51, 18, 3, N'earn', CAST(N'2026-04-10T12:59:09.603' AS DateTime))
INSERT [dbo].[LoyaltyTransactions] ([ID], [UserID], [OrderID], [Points], [Type], [CreatedAt]) VALUES (2, 51, 19, 3, N'earn', CAST(N'2026-04-10T13:07:45.910' AS DateTime))
INSERT [dbo].[LoyaltyTransactions] ([ID], [UserID], [OrderID], [Points], [Type], [CreatedAt]) VALUES (3, 51, 20, 3, N'earn', CAST(N'2026-04-10T13:10:40.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[LoyaltyTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [Name], [Email], [Subject], [Message], [CreatedAt], [IsRead]) VALUES (1, N'rawan', N'rawan@email.com', N'Party', N'zxc', CAST(N'2026-04-29T06:42:32.550' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Occasion] ON 

INSERT [dbo].[Occasion] ([OccasionID], [OccasionName], [Description], [Slug], [ImageURL], [BadgeText], [IsFeatured], [NameAr], [DescriptionAr], [Badge]) VALUES (1, N'Wedding', N'Wedding ceremonies and anniversaries', N'wedding', N'/static/images/imageoccasion/w.jpeg', N'Popular', 1, N'زفاف', N'تنسيقات زهرية أنيقة لحفلات الزفاف والمناسبات الخاصة.', N'featured')
INSERT [dbo].[Occasion] ([OccasionID], [OccasionName], [Description], [Slug], [ImageURL], [BadgeText], [IsFeatured], [NameAr], [DescriptionAr], [Badge]) VALUES (2, N'Graduation', N'Academic success and moving to new stages', N'graduation', N'/static/images/imageoccasion/g.jpeg', N'Trending', 1, N'تخرج', N'باقات مميزة للاحتفال بالنجاح والتخرج.', N'featured')
INSERT [dbo].[Occasion] ([OccasionID], [OccasionName], [Description], [Slug], [ImageURL], [BadgeText], [IsFeatured], [NameAr], [DescriptionAr], [Badge]) VALUES (3, N'Love', N'Romantic gestures and Valentine', N'love', N'/static/images/imageoccasion/E.jpeg', N'Romantic', 1, N'حب', N'ورود رومانسية للتعبير عن الحب والمشاعر.', N'featured')
SET IDENTITY_INSERT [dbo].[Occasion] OFF
GO
SET IDENTITY_INSERT [dbo].[Occasion_Reminders] ON 

INSERT [dbo].[Occasion_Reminders] ([ReminderID], [UserID], [OccasionName], [OccasionDate], [DaysBefore], [IsActive], [IsNotified]) VALUES (1, 3, N'Mom''s Birthday', CAST(N'2026-12-05' AS Date), 1, 0, 0)
INSERT [dbo].[Occasion_Reminders] ([ReminderID], [UserID], [OccasionName], [OccasionDate], [DaysBefore], [IsActive], [IsNotified]) VALUES (2, 3, N'Dad Birthday', CAST(N'2026-10-24' AS Date), 1, 1, 0)
INSERT [dbo].[Occasion_Reminders] ([ReminderID], [UserID], [OccasionName], [OccasionDate], [DaysBefore], [IsActive], [IsNotified]) VALUES (3, 1, N'Birthday of Mom', CAST(N'2026-03-20' AS Date), 2, 1, 0)
SET IDENTITY_INSERT [dbo].[Occasion_Reminders] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Details] ON 

INSERT [dbo].[Order_Details] ([OrderDetailsID], [OrderID], [FlowerID], [Price], [Quantity]) VALUES (1, 1, 1, CAST(5.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Order_Details] ([OrderDetailsID], [OrderID], [FlowerID], [Price], [Quantity]) VALUES (2, 1, 4, CAST(6.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Order_Details] ([OrderDetailsID], [OrderID], [FlowerID], [Price], [Quantity]) VALUES (3, 1, 10, CAST(3.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Order_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [FlowerID], [Quantity], [Price]) VALUES (1, 25, 1, 2, CAST(1.50 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [FlowerID], [Quantity], [Price]) VALUES (2, 25, 2, 2, CAST(1.50 AS Decimal(10, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [FlowerID], [Quantity], [Price]) VALUES (3, 25, 3, 1, CAST(1.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalPrice], [UserID], [PaymentMethod], [LoyaltyPointsEarned], [Status], [ShippingAddress], [TotalAmount], [ShippingMethod], [CouponID], [DiscountApplied]) VALUES (1, CAST(N'2026-01-05' AS Date), CAST(15.00 AS Decimal(10, 2)), 1, NULL, 0, N'Shipped', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalPrice], [UserID], [PaymentMethod], [LoyaltyPointsEarned], [Status], [ShippingAddress], [TotalAmount], [ShippingMethod], [CouponID], [DiscountApplied]) VALUES (2, CAST(N'2026-01-07' AS Date), CAST(22.00 AS Decimal(10, 2)), 2, NULL, 0, N'Pending', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [TotalPrice], [UserID], [PaymentMethod], [LoyaltyPointsEarned], [Status], [ShippingAddress], [TotalAmount], [ShippingMethod], [CouponID], [DiscountApplied]) VALUES (3, CAST(N'2026-01-10' AS Date), CAST(10.00 AS Decimal(10, 2)), 3, NULL, 0, N'Cancelled', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [OrderID], [PaymentMethod], [PaymentStatus], [PaymentDate]) VALUES (1, 1, N'Cash', N'Paid', CAST(N'2026-01-05' AS Date))
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [PaymentMethod], [PaymentStatus], [PaymentDate]) VALUES (2, 2, N'Credit Card', N'Paid', CAST(N'2026-01-07' AS Date))
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [PaymentMethod], [PaymentStatus], [PaymentDate]) VALUES (3, 3, N'Cash', N'Paid', CAST(N'2026-01-10' AS Date))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewID], [UserID], [FlowerID], [Rating], [Comment], [ReviewDate]) VALUES (1, 1, 1, 5, N'Excellent quality', CAST(N'2026-01-06' AS Date))
INSERT [dbo].[Review] ([ReviewID], [UserID], [FlowerID], [Rating], [Comment], [ReviewDate]) VALUES (2, 2, 4, 4, N'Nice flowers', CAST(N'2026-01-08' AS Date))
INSERT [dbo].[Review] ([ReviewID], [UserID], [FlowerID], [Rating], [Comment], [ReviewDate]) VALUES (3, 3, 8, 5, N'Very fresh', CAST(N'2026-01-11' AS Date))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Store] ON 

INSERT [dbo].[Store] ([StoreID], [StoreName], [Address]) VALUES (1, N'Rose Garden', N'Amman - Abdali')
INSERT [dbo].[Store] ([StoreID], [StoreName], [Address]) VALUES (2, N'Bloom Center', N'Irbid - University Street')
INSERT [dbo].[Store] ([StoreID], [StoreName], [Address]) VALUES (3, N'Petal House', N'Zarqa - New Zarqa')
SET IDENTITY_INSERT [dbo].[Store] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Address], [City], [Phone], [StoreID], [FlowerID]) VALUES (1, N'Jordan Flowers Co', N'Al Bayader', N'Amman', N'0798881111', 1, 1)
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Address], [City], [Phone], [StoreID], [FlowerID]) VALUES (2, N'Green Valley', N'Al Ramtha', N'Irbid', N'0787772222', 2, 4)
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Address], [City], [Phone], [StoreID], [FlowerID]) VALUES (3, N'Nature Farm', N'Sahab', N'Amman', N'0776663333', 1, 6)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[UserReminders] ON 

INSERT [dbo].[UserReminders] ([ReminderID], [UserID], [Title], [OccasionType], [ReminderDate], [NotifyBeforeDays], [CreatedAt]) VALUES (1, 58, N'My Sister', N'Graduation', CAST(N'2026-05-04' AS Date), 2, CAST(N'2026-05-01T23:11:56.053' AS DateTime))
INSERT [dbo].[UserReminders] ([ReminderID], [UserID], [Title], [OccasionType], [ReminderDate], [NotifyBeforeDays], [CreatedAt]) VALUES (2, 58, N'Mother Day ', N'Mother Day', CAST(N'2026-05-25' AS Date), 3, CAST(N'2026-05-02T17:32:56.003' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserReminders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [Address], [Role], [LoyaltyPoints], [avatar], [Points]) VALUES (1, N'AhmadSaleh', N'scrypt:32768:8:1$cbSGSi2EwvtUJOiv$456663a0386b7ca3d293e05abfa17b1e0702769f0bf8b77db83ea7e6efb1555e1c34791cefd5bda155b54a088e5fb429ae1969ae4ecc5f2255def6f6588e7c03', N'ahmad.saleh@gmail.com', N'Amman', N'admin', 0, NULL, 0)
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [Address], [Role], [LoyaltyPoints], [avatar], [Points]) VALUES (2, N'SaraKhaled', N'scrypt:32768:8:1$lgCFKmZ9Qf8u8LJP$f66e1ab1ab50f98819bc8d365379e1c7e7b9d080351a322b3fc2e794cd2663215de460a03d0c44b5a9239da019aeb4c6a88e8efde3004fea12e31af979f80980', N'sara.k@gmail.com', N'Irbid', N'user', 0, NULL, 0)
INSERT [dbo].[Users] ([UserID], [UserName], [Password], [Email], [Address], [Role], [LoyaltyPoints], [avatar], [Points]) VALUES (3, N'OmarHaddad', N'scrypt:32768:8:1$HEqGGT0YTVaLrN7P$06f29a479bba0693341f9d54225a5d759b6290a0abbb7682ad3fcd5bedec9e9a62b5e887bec53e666a959db5c83b07c9f708beb0fe3eb9d8f9d4cc8fed1582f5', N'omar.h@gmail.com', N'Zarqa', N'user', 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_User_Flower]    Script Date: 5/2/2026 8:12:51 PM ******/
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [UQ_User_Flower] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[FlowerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_User_ActiveCart]    Script Date: 5/2/2026 8:12:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_User_ActiveCart] ON [dbo].[Cart]
(
	[UserID] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Coupons__A25C5AA7F3C1F5A9]    Script Date: 5/2/2026 8:12:51 PM ******/
ALTER TABLE [dbo].[Coupons] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053489BB2E7B]    Script Date: 5/2/2026 8:12:51 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105349B624810]    Script Date: 5/2/2026 8:12:51 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Consultations] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Consultations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Flower] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Flower] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Flower] ADD  DEFAULT ((0)) FOR [IsBouquet]
GO
ALTER TABLE [dbo].[LoyaltyTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Occasion] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Occasion_Reminders] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Occasion_Reminders] ADD  DEFAULT ((0)) FOR [IsNotified]
GO
ALTER TABLE [dbo].[Order_Details] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_OrderDate]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [LoyaltyPointsEarned]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DiscountApplied]
GO
ALTER TABLE [dbo].[UserReminders] ADD  DEFAULT ((3)) FOR [NotifyBeforeDays]
GO
ALTER TABLE [dbo].[UserReminders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [LoyaltyPoints]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[AI_Recommendation]  WITH CHECK ADD  CONSTRAINT [FK_AI_Flower] FOREIGN KEY([FlowerID])
REFERENCES [dbo].[Flower] ([FlowerID])
GO
ALTER TABLE [dbo].[AI_Recommendation] CHECK CONSTRAINT [FK_AI_Flower]
GO
ALTER TABLE [dbo].[AI_Recommendation]  WITH CHECK ADD  CONSTRAINT [FK_AI_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AI_Recommendation] CHECK CONSTRAINT [FK_AI_User]
GO
ALTER TABLE [dbo].[Bouquet]  WITH CHECK ADD FOREIGN KEY([OccasionID])
REFERENCES [dbo].[Occasion] ([OccasionID])
GO
ALTER TABLE [dbo].[Bouquet]  WITH CHECK ADD FOREIGN KEY([OccasionID])
REFERENCES [dbo].[Occasion] ([OccasionID])
GO
ALTER TABLE [dbo].[BouquetFlowers]  WITH CHECK ADD FOREIGN KEY([BouquetID])
REFERENCES [dbo].[Bouquet] ([BouquetID])
GO
ALTER TABLE [dbo].[BouquetFlowers]  WITH CHECK ADD FOREIGN KEY([BouquetID])
REFERENCES [dbo].[Bouquet] ([BouquetID])
GO
ALTER TABLE [dbo].[BouquetFlowers]  WITH CHECK ADD FOREIGN KEY([FlowerID])
REFERENCES [dbo].[Flower] ([FlowerID])
GO
ALTER TABLE [dbo].[BouquetFlowers]  WITH CHECK ADD FOREIGN KEY([FlowerID])
REFERENCES [dbo].[Flower] ([FlowerID])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Cart] FOREIGN KEY([CartID])
REFERENCES [dbo].[Cart] ([CartID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Cart]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Flower] FOREIGN KEY([FlowerID])
REFERENCES [dbo].[Flower] ([FlowerID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Flower]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Store] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Store]
GO
ALTER TABLE [dbo].[Flower]  WITH CHECK ADD  CONSTRAINT [FK_Flower_Occasion] FOREIGN KEY([OccasionID])
REFERENCES [dbo].[Occasion] ([OccasionID])
GO
ALTER TABLE [dbo].[Flower] CHECK CONSTRAINT [FK_Flower_Occasion]
GO
ALTER TABLE [dbo].[Occasion_Reminders]  WITH CHECK ADD  CONSTRAINT [FK_Reminder_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Occasion_Reminders] CHECK CONSTRAINT [FK_Reminder_User]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Flower] FOREIGN KEY([FlowerID])
REFERENCES [dbo].[Flower] ([FlowerID])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_OrderDetails_Flower]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([FlowerID])
REFERENCES [dbo].[Flower] ([FlowerID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupons] ([CouponID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Orders]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Flower] FOREIGN KEY([FlowerID])
REFERENCES [dbo].[Flower] ([FlowerID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Flower]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_User]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Flower] FOREIGN KEY([FlowerID])
REFERENCES [dbo].[Flower] ([FlowerID])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_Flower]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_Store] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store] ([StoreID])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_Store]
GO
ALTER TABLE [dbo].[UserReminders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
